html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.2s;
}

a:hover {
  color:#333;
  transition: all 0.2s;
}

* {
  box-sizing: border-box;
}


#login-page {
  height: 100vh;
  padding: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-container {
  width: 100%;
  height: 50%;
  position: absolute;
  top: 0px;
  background-image: url("/sillas.jpg");
  background-size: cover;
  background-position-y: center;
  background-repeat: no-repeat;
  z-index: -1;
}

.content-container {
  width: 100%;
  max-width: 1200px;
  padding: 15px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
}


.boton-condiciones {
  margin: 5px;
  color: #ddd;
  padding: 10px;
  border: solid 1px white;
  overflow: hidden;
  position: relative;
}

.boton-condiciones::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0px;
  height: 100%;
  background: #d0d0d030;
  transition: all 0.2s;
}

.boton-condiciones:hover::after {
  transition: all 0.2s;
  width: 100%;
}